server_config.json
log_config.xml
login_db.ini
world_db.ini
eq2world
eq2world.exe
login
login.exe
ItemScripts/
Maps/
PlayerScripts/
Quests/
RegionScripts/
Regions/
SpawnScripts/
Spells/
ZoneScripts/
logs/
plugins/
*.dll
*.pem
*.log
